<?xml version="1.0"?>
<robot name="ball_drop_z_0-5">
  <link name="base">
    <visual>
      <geometry>
        <mesh filename="ball_drop_z_0-5.obj" scale="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="ball_drop_z_0-5.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.000"/>
      <inertia
          ixx="0.026264" ixy="0.000000" ixz="0.000000"
          iyy="0.026264" iyz="0.000000"
          izz="0.025990"/>
      <origin xyz="0.000000 0.000000 0.550000" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>