<?xml version="1.0"?>
<robot name="9_ball">
  <link name="base">
    <visual>
      <geometry>
        <mesh filename="9_ball.obj" scale="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="9_ball.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.000"/>
      <inertia
          ixx="0.001040" ixy="0.000000" ixz="0.000000"
          iyy="0.001040" iyz="0.000000"
          izz="0.001029"/>
      <origin xyz="-0.156947 0.157761 0.833091" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>