<?xml version="1.0"?>
<robot name="cube_wall-0-0-0">
  <link name="base">
    <visual>
      <geometry>
        <mesh filename="cube_wall-0-0-0.obj" scale="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="cube_wall-0-0-0.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.000"/>
      <inertia
          ixx="0.040555" ixy="0.000000" ixz="0.000000"
          iyy="0.120713" iyz="0.000000"
          izz="0.083748"/>
      <origin xyz="0.000090 0.000501 0.442132" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>