<?xml version="1.0"?>
<robot name="square_plane">
  <link name="plane">
    <visual>
      <geometry>
        <mesh filename="plane.obj" scale="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="plane.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia
          ixx="0.01" ixy="0.0" ixz="0.0"
          iyy="0.01" iyz="0.0"
          izz="0.01"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>
