<?xml version="1.0"?>
<robot name="brick_x-3-0">
  <link name="base">
    <visual>
      <geometry>
        <mesh filename="brick_x-3-0.obj" scale="1 1 1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="brick_x-3-0.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.000"/>
      <inertia
          ixx="0.014097" ixy="0.000000" ixz="0.000000"
          iyy="0.009199" iyz="0.000000"
          izz="0.013935"/>
      <origin xyz="-0.077785 -0.151901 1.025597" rpy="0 0 0"/>
    </inertial>
  </link>
</robot>